h1 {
    color: transparent;
    -webkit-text-stroke: 5px rgb(66, 255, 37);
    font-size: 80px;
    text-align: center;
    letter-spacing: 5px;

}
h2 {
    text-align: center;
}

body,
html {
    background: linear-gradient(black, rgb(18, 33, 73));
    font-family: arial;
    color: rgb(66, 255, 37);
}

.kviz h1 {
    padding: 10px;
    border: 5px rgb(66, 255, 37) solid;
    font-size: 50px;
    text-align: left;
    color: white;
    -webkit-text-stroke: 0;

}
button, input {
    background-color: rgb(66, 255, 37);
    border-radius: 5px;
    border: 0px;
    color: rgb(0, 0, 0);
}
button {
    width: 100%;
}
button:hover, input:hover {
    background-color: rgb(208, 208, 248);
}
h3 {
    text-align: center;
    font-size: 25px;
}