h1 {
    color: transparent;
    -webkit-text-stroke: 5px rgb(66, 255, 37);
    font-size: 80px;
    text-align: center;
    letter-spacing: 5px;

}
h2 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 5px white solid;
}

body,
html {
    background: linear-gradient(black, rgb(18, 33, 73));
    font-family: arial;
    color: rgb(66, 255, 37);
}

.kviz h1 {
    padding: 15px;
    border: 5px rgb(66, 255, 37) solid;
    font-size: 50px;
    text-align: left;
    color: white;
    -webkit-text-stroke: 0;
    margin-top: 50px;

}
button, input {
    background-color: rgb(66, 255, 37);
    border-radius: 5px;
    border: 0px;
    padding: 15px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-right: 10px;
}
button {
    width: 100%;
}
button:hover, input:hover {
    background-color: rgb(208, 208, 248);
}
h3 {
    text-align: center;
    font-size: 25px;
    border-top: 4px white dashed;
    border-bottom: 4px white dashed;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 12px;
    visibility: hidden;
}